@media (min-width: 460px) {
    .navbar {
        max-width: 1300px;
        padding: 0 80px;
        margin: auto;
    }
}

@media (min-width: 470px) {
    section {
        padding: 2em 60px;
    }
}

@media (min-width: 768px) {
    section {
        padding: 2em 80px;
        max-width: 1300px;
    }

    .gallery__photo {
        flex: 1;
    }

    .gallery__photo a {
        max-width: 50vw;
        height: 100%;
    }
}

@media (max-width: 1000px) {
    .navbar .navbar__menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: 0.3s ease;
    }

    .navbar .navbar__menu.active {
        left: 0;
        top: -25px;
        background-color: white;
    }

    .navbar .navbar__menu li {
        display: block;
    }

    .navbar .navbar__menu li a {
        display: inline-block;
        margin: 20px 0;
    }
}

@media (max-width: 1500px) {
    footer {
        padding: 2em 80px;
    }

    footer > div {
        padding: 0 !important;
    }
}