:root {
    --dark-grey: #eeebeb;
    --dark-pink:rgb(255, 111, 178);
    --light-pink: rgb(255, 199, 227);
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth
}

body {
    margin: 0;
}

section {
    display: block;
    padding: 2em 40px;
    margin: 0 auto;
}

pre,
code {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    padding: 8px 10px;
    background-color: var(--dark-grey);
    margin-bottom: 1em;
    line-height: 1.3;
    overflow: auto;
}

.navbar {
    display: flex;
    max-width: 1300px;
    padding: 0 30px;
    margin: auto;
    padding: 20px 0;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header .navbar__menu {
    padding-left: 0;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    color: white;
    margin-right: 1em;
}

header .navbar__menu li a {
    display: block;
    font-weight: 500;
    transition: color 0.3s ease;
    color: white;
}

header .navbar__menu li a:hover {
    font-weight: bold;
    border-top: 3px solid var(--light-pink);
    color: var(--light-pink);
    padding-top: 2em;
    margin-top: -2em;
}

.About{
    padding: 150px 80px 70px 80px;
    background-image: url(../photos/background.jpg);
    background-position: center;
}

a {
    text-decoration: none;
}

mark {
    background-color: var(--light-pink);
}

.pink  {
    color: var(--dark-pink);
}

ul, ol {
    padding-left: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid white;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    font-weight: normal;

}

table td {
    background-color: var(--light-pink) ;
}

table thead th {
    background-color: var(--dark-pink);
    font-weight: bold;
}

button {
    border: 1px solid transparent;
    border-radius: 6px;
    height: 40px;
    padding: 0 1em;
    color: white;
}

button.btn-primary:hover,
.button.btn-primary:hover {
    font-weight: bold;
}

button.btn-primary,
.button.btn-primary {
    background-color: var(--dark-pink);
    transition: 0.2s;
}

button.btn-nothing,
.button.btn-nothing {
    cursor: default;
    background-color: var(--light-pink);
    transition: 0.2s;
}

button.btn-nothing:hover,
.button.btn-nothing:hover {
    background-color:   rgb(254, 184, 219);
    transition: 0.2s;
}

.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
    flex-wrap: wrap;
}

.gallery__photo {
    overflow: hidden;
    width: fit-content;
    margin: 0;
}

.gallery__photo a {
    display: block;
    transition: 0.3s;
    position: relative;
    max-height: 70vh;
}

.gallery__photo img {
    transition: 0.3s;
    display: block;
    flex: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery__photo a:hover img {
    transform: scale(1.05);
    transition: 0.3s;
}

footer {
    background-color: black;
    padding-bottom: 2em;
}

footer > div {
    display: flex;
    flex-direction: column;
    padding: 2em 40px;
    margin-top: 80px;
    font-size: 15px;
    color: white;
    max-width: 1300px;
    margin: auto;
}

.footer-name,
.footer-email {
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    transition: 0.3s;
}

.footer-name:hover,
.footer-email:hover {
    transition: 0.3s;
    color: var(--light-pink);
    font-weight: bold;
}

footer .fa-github:before {
    margin-right: .5em;
}

footer .fa-envelope:before {
    margin-right: .5em;
}
