html {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-box {
    display: block;
}

@media (min-width: 768px) {
    .box--half {
        flex-direction: row;
    }
}

.row {
    display: flex;
    gap: 80px;
}

.About{
    padding: 150px 80px 70px 80px;
    position: relative;
}

.navbar {
    max-width: 1300px;
    padding: 0 30px;
    margin: auto;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
}

header .navbar {
    display: flex;
}

header .navbar__title a {
    color: white;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}

header .navbar__title a span {
    color: var(--dark-pink);
    transition: all 0.3s ease;
}

header.sticky .navbar__title a span {
    color: white;
    transition: all 0.3s ease;
}

header.sticky .navbar__title a {
    color: #060606;
    transition: all 0.3s ease;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
    margin: 0;
    color: white;
}

header .navbar__menu li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    color: white;
}

header .navbar__menu li a:hover {
    font-weight: bold;
    border-top: 8px solid white;
    padding-top: 1em;
    margin-top: -1em;
}

header.sticky .navbar__menu li a:hover {
    font-weight: bold;
}

@media (min-width: 460px) {
    .navbar {
        max-width: 1300px;
        padding: 0 80px;
        margin: auto;
    }
}

@media (max-width: 1000px) {
    .navbar .navbar__menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: 0.3s ease;
    }

    .navbar .navbar__menu.active {
        left: 0;
        top: -25px;
        background-color: white;
    }

    .navbar .navbar__menu li {
        display: block;
    }

    .navbar .navbar__menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

p.section__info {
    margin-bottom: 1.5em;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    overflow: hidden;
    background-color: black;
    padding: 2em 40px;
    margin-top: 80px;
    font-size: 15px;
    color: white;
}

footer>div {
    margin: 2em 0;
}

footer h2 {
    color: white;
    position: relative;
    display: inline;
}

footer h2 span {
    color: var(--theme-color);
}

footer h2 .copy {
    font-size: 16px;
    color: white;
    position: absolute;
    top: 0;
    right: -20px;
}

.footer__name a,
.footer__email a {
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    transition: 0.3s;
}

.footer__name a:hover,
.footer__email a:hover {
    color: var(--font-color);
    transition: 0.3s;
}

footer .name span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 20px;
}

@media (min-width: 470px) {
    footer {
        padding: 4em 60px;
    }
}

@media (min-width: 768px) {
    footer {
        padding: 4em 80px;
        flex-direction: row;
    }

    footer>div {
        margin: 0;
        max-width: 40%;
    }
}